/* Add application styles & imports to this file! */

.main {
  width: 98%;
  margin: auto;
  vertical-align: top;
}

.userList {
  float: left;
  width: 60%;
}

.userDetails {
  float: left;
  width: 40%;
}

.form-group {
  padding: 10px;
  border: 1px solid blueviolet;
  margin-bottom: 10px;
}

.form-group label {
  display: inline-block;
  text-align: left;
  padding: 5px;
  width: 120px;
}

.form-group input {
  border: 1px solid;
  text-align: left;
  padding: 5px;
  width: 200px;
}

.btn-save {
  color: green;
  font-weight: bold;
  padding-top: 2px;
  padding-right: 5px;  
  padding-left: 5px;
  padding-bottom: 2px;
  width: 100px;
  margin-right: 10px;
}

.form-footer {
  text-align: center;
  padding: 10px;
}